@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 12, 12, 12;
}

html {
  min-height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to right, #f5b5b5 0%, #fafbff 100%) !important;
   */

  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;

}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .menu-container {
      flex-wrap: wrap;
  }
  .menu-item {
      width: 100%; /* Make menu items stack */
  }
}